  .boite {
    position: relative;
    width: 30%;
    display : inline-block ;
    margin-left : 2.5% ;
    margin-top : 3% ;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;   
    
  }

  .recouvrir {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .boite:hover .recouvrir {
    height: 100%;
  }

  .texte {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

section img {
  width : 100%;
  margin-top :3%
}
  
@media (max-width:820px) {
  .texte {
    font-size : 10px
  }
  
}

@media (max-width:380px){
  h1{
    font-size : 20px
  }
  h2{ 
  font-size : 15px}
   .texte {
    font-size : 6px
  }
  section:last-child{
    display : none
  }
}