header , section{
  background-color : rgba(128,255,128,0.3);
  width :90%;
  margin : auto ;
}

header{
  margin-bottom: 10px ;
}

div.info{
  text-align: left ;
  margin : auto
}

div.titre{
  font-weight: bold ; 
  color : rgba(0 , 0 , 0 , 1) ;
}

div.serie{
  font-style: italic ;
  font-size : 0.8em ;
  color : rgba(100 , 100 , 100 , 1) ;
}

div.auteur{
  font-style: italic ;
  color : rgba(50 , 50 , 50 , 1) ;
}
}

div.auteur span:first-of-type{
  text-decoration: underline ;
}

time{
  font-weight: thin;
  color : rgba(20 , 20 , 20 , 1);
}

